<h1>Editing vehicle inspection</h1>

<%= render "form", vehicle_inspection: @vehicle_inspection %>

<br>

<div>
  <%= link_to "Show this vehicle inspection", @vehicle_inspection %> |
  <%= link_to "Back to vehicle inspections", vehicle_inspections_path %>
</div>
